<ion-header>
  <ion-navbar>
    <ion-title>
      Review recordings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-scroll scrollY="true">
    <div class="no-saved-recordings-message" *ngIf="noSavedRecordings">
      <p>Looks like you don't have any saved recordings.</p>
    </div>

    <ion-list>
      <ion-item
        *ngFor="let rec of recordings"
        (click)="handleRecordingClicked(rec)"
        [ngClass]="{ 'selected' : isSelected(rec) }">
        <p>{{ rec.date }} ({{ rec.duration }})</p>
        <p *ngIf="rec.comment">"{{ rec.comment }}"</p>

        <div *ngIf="isSelected(rec)">
          <p>Average BPM: {{ rec.averageBPM }}&nbsp;&nbsp;[{{ rec.lowerBPM }}&mdash;{{ rec.upperBPM }} BPM]</p>
          <p>Average jitter: {{ rec.averageJitter }}%</p>
          <p>Accuracy: {{ rec.accuracy }}%</p>

          <button
            ion-button
            (click)="handleDeleteClicked(rec)"
            >
            Delete
          </button>
        </div>
        
      </ion-item>
    </ion-list>
  </ion-scroll>

  <div class="chart-area">
    <canvas #chart width="100" height="100">
    </canvas>
  </div>

</ion-content>
