page-review
{
    ion-scroll {
        height: 55%;
        margin-bottom: 0.5em;
    }

    div.chart-area {
        height: 40%;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    ion-item.selected {
        border: solid 3px color($colors, primary);

        div.item-inner {
            border-bottom: none !important;
        }
    }

    div.no-saved-recordings-message {
        padding: 1em;
    }
}
