page-review
{
    ion-scroll {
        height: 55%;
        margin-bottom: 0.5em;
    }

    div.chart-area {
        height: 40%;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    button.selected {
        background: color($colors, primary);

        div.item-inner {
            border-bottom: none !important;
        }

        ion-label p {
            color: white;
        }
    }
}
